<div class="container signup">
  <h2 id="menu-categories-title" class="text-center">Signup</h2>
  <div class="text-center">
    "sign up" for the newsletter of the restaurant
  </div>

  <form name="formSignup" novalidate>
    <div class="form-group">
      <label for="formFirstNameInput">First Name</label>
      <input type="text" class="form-control" id="formFirstNameInput"
          name="firstname"
          ng-model="signupCtrl.firstname"
          placeholder="first name"
          required>
      <span class="msgwarning" ng-if="formSignup.firstname.$error.required
                  && formSignup.firstname.$touched">
        Name is required
      </span>
    </div>
    <div class="form-group">
      <label for="formLastNameInput">Last Name</label>
      <input type="text" class="form-control" id="formLastNameInput"
          name="lastname"
          ng-model="signupCtrl.lastname"
          placeholder="last name"
          required>
      <span class="msgwarning" ng-if="formSignup.lastname.$error.required
                  && formSignup.lastname.$touched">
        Last Name is required
      </span>
    </div>
    <div class="form-group">
      <label for="formEmailInput">Email Address</label>
      <input type="email" class="form-control" id="formEmailInput"
          name="email"
          ng-model="signupCtrl.email"
          placeholder="email address"
          required>
      <span class="msgwarning" ng-if="formSignup.email.$error.required
                  && formSignup.email.$touched">
        Email is required
      </span>
    </div>
    <div class="form-group">
      <label for="formPhoneNumberInput">Phone Number</label>
      <input type="text" class="form-control" id="formPhoneNumberInput"
          name="phonenumber"
          ng-model="signupCtrl.phonenumber"
          placeholder="phone ###-###-####"
          pattern="(\d{3})-(\d{3})-(\d{4})"
          required>
      <span class="msgwarning" ng-if="formSignup.phonenumber.$invalid
                  && formSignup.phonenumber.$touched">
        Phone number must be in the form <br>###-###-####
      </span>
    </div>
    <div class="form-group">
      <label for="formMenuNumberInput">Menu Number</label>
      <input type="text" class="form-control" id="formMenuNumberInput"
          name="short_name"
          ng-model="signupCtrl.short_name"
          placeholder="your favorite dish"
          shortname-validator
          >
      <span ng-show="formSignup.short_name.$pending.short_name">
        Checking if this menu number is valid...</span>
      <span class="msgwarning"
        ng-show="formSignup.short_name.$error.short_name
                     && formSignup.short_name.$touched">
        This menu number is not valid</span>
    </div>
    <div class="form-group">
	     <button class="btn btn-signup btn-block" id="signupSubmit"
          ng-disabled="formSignup.$invalid"
          ng-click="signupCtrl.signup()"
          >Sign Up</button>
        <div class="text-center" ng-if="signupCtrl.isSignUp()">
            <span>
            Your information has been saved!
            </span>
        </div>
		</div>
  </form>

</div>
