.container.signup {
  max-width: 360px;
}

.signup input.ng-invalid.ng-touched {
  border: 2px red solid;
}

.signup input.ng-valid.ng-touched {
  border: 2px #78FA89 solid;
}
.msgwarning {
  color: red;
}

.btn-signup {
  background-color: black;
  border-color: grey;
}
